Package: com.alnoise.firsttweak
Name: First Tweak
Architecture: iphoneos-arm
Description: My first tweak!
Maintainer: alnoise
Author: alnoise
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 1.0.1-1+debug
Installed-Size: 312
